.parentFlexBox{
    display: flex;
    height: 100vh;
    align-items: top;
    text-align: center;
    background: blue;
}
.list{
 
    flex: 1 1 30%;
    
}

.rightFlexBox{
    display: flex;
    flex-direction: column;
    flex: 4 1 100%;
    justify-content: top;
    align-items: top;
    background: red;
    height:  100%;

}


.details{
    background: yellow;
    display: flex;
    flex-direction: column;

}

.details>div{
    padding: 50px;
}

.name{
    font-size: 200%;
    font-style: oblique;
}



/*------------------------------------*/
