.parentFlexBox{
    display: flex;
    height:  100%;
    align-items: center;
}
.list{
 
    flex: 1 1 30%;
    
}

.rightFlexBox{
    display: flex;
    flex-direction: column;
    flex: 4 1 100%;
    justify-content: center;
    align-items: center;

}

.googleMaps{
    background: red;
    flex: 1 1 auto;

}

.details{
    background: yellow;
    flex: 1 1 auto;

}


/*------------------------------------*/
