
<h1>Total companies: {{totalCompanies}}</h1>

<!--{{companies | json}}-->

<cdk-virtual-scroll-viewport itemSize="80">
      
<!--
  <li *cdkVirtualFor=" let person of people;" class="slide InRight">
   <h2 routerLink="detail/{{person.name}}"> {{person.mame}}</h2>
   </li>[
   

 -->
   <li *cdkVirtualFor=" let company of companies;" class="slide InRight">
         <a routerLink="detail/{{company.codCompany}}"> 
            <span> {{company.mame}}</span>
         </a>
   </li>
 
  <!--   <li *ngFor="let test of companies ">
  
 
</li>
-->

  </cdk-virtual-scroll-viewport>

